<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= @inquiry.name %> 様 から問い合わせがありました。<br>
      email:<%= @inquiry.emails %><br>
      ・お問い合わせ内容<br>
      <%= @inquiry.title %><br><br>
      -----------------------------------------------<br><br>
      <%= @inquiry.message %><br>
  </body>
</html>