section.contact {
  background: linear-gradient(#1c2948ba, #313840);
  padding: 80px 0 150px;
  overflow: scroll;
}

.stables {
  display: block;
  height: 6rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  letter-spacing: 2px;
  line-height: 1.7;
  margin: 0 auto;
  color: rgb(163, 162, 162);
  vertical-align: baseline;
  h1{
    font-size:30px;
    margin-bottom: 10px;
    font-family: 'Sawarabi Gothic', sans-serif;
  }
  p{
    font-family: 'Sawarabi Gothic', sans-serif;
  }
}

.contact-form {
  width: 550px;
  margin: 50px auto 0;
  
}
.name, .email, .title, .message{
  background: none;
  border:none;
  outline: none;
  border-bottom: 1px solid;
  color: rgba(255, 255, 255, 0.8);
  padding: 10px 6px;
  font-size: 14px;
  margin-bottom: 40px;
}

.name{
  float: left;
  width: 270px;
}

.email{
  float: right;
  width: 270px;
}
.title{
  min-width: 100%;
  max-width: 100%;
}
.message{
  min-width: 100%;
  max-width: 100%;
}

@media screen and (max-width:600px){
  .name,.email{
    width: 100%;
  }
}
  .contact input[type=text], .contact textarea {
  display: block;
  margin-bottom: 10px;
  border-radius: 0;
  color: rgba(255, 255, 255, 0.8);
  }
  
  .contact textarea {
  height: 150px;
  }
  
  .btn {
  display: block;
  width: 180px;
  margin: 40px auto 0;
  padding: 15px;
  border-radius: 5px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  }
  
  .btn:hover {
  background-color: rgba(255, 255, 255, 0.05);
  }