// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.btn_menu.fas.fa-bars{
  display:none;
  position: absolute;
  right: 20px;
}
.btn_menu.fas.fa-bars:hover{
  color: #fff;
}

.navbar{
  background-color: #1455a791;
  box-shadow: 0px 3px 5px #2c3e50;
  height: 55px;
  position:fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  // overflow: hidden;
}

.logo{
  font-size: 32px;
  margin: 3px auto;
  padding-left: 75px;
  color: #b9c6ce;
  display: flex;
  float: left;
  h5{
    font-family: 'Changa', sans-serif;
  }
} 

.menu{
  line-height: 30px;
  float: right;
  padding-right: 30px;
  ul {
    list-style: none;
    height: 100%;
    display: flex;
    li{
      margin: 10px;
      display: inline-block;
      a{
        text-decoration: none;
        color: #b9c6ce;
        font-family: 'Changa', sans-serif;
        padding: 0 10px;
        line-height: 30px;
      };
    }
    li:hover {
      color: #fff;
      a{
        color: #fff;
      };
    }
  }
}

.bubble{
  position: absolute;
  z-index: -2; 
  color: whitesmoke;
  background-color: #3282b8;
  border-radius: 4px;
  opacity: 0.9;
  transform: scale(1.2);
  transition: ease 0.5s;
}

