// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*{
  margin: 0;
  padding: 0;
}

span{
  display: none;
}

.fas.fa-bars{
  margin: 0 10px 0 -20px;
}

.content{
  margin:0;
  padding: 0;
  background-color: #1455a791;
  box-shadow: 0px 3px 5px #2c3e50;
  height: 55px;
  position:fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  z-index: 1;
  // display: inline-block;
}

.content_legth{
  width: 50%;
  font-size: 32px;
  // display: block;
  margin: 10px auto;
  padding-left: 75px;
  
  display: flex;
  // text-align:center
  
} 

.contant_rigth{
  // display: inline-block;
  width: 49%;
  
  // height: 100%;
  line-height: 30px;
  ul {
    list-style: none;
    height: 100%;
    display: flex;
    li.menu{
      margin: 10px;
      // width: 70px;
      display: inline-block;
      a{
        text-decoration: none;
        color: #070415c7;;
        // font-weight: bold;
        padding: 0 10px;
        line-height: 30px;
      };
    }
    li.menu:hover {
      opacity: 0.5;
      // color: #fff;
      a{
        // text-decoration: none;
        color: #fff;
      };
    }
  }
}

.bubble{
  position: absolute;
  z-index: -2; 
  color: whitesmoke;
  // background-image: linear-gradient(to top, #0c3483 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%);
  background-color: #1455a791;
  opacity: 0.9;
  transform: scale(1.2);
  transition: ease 0.5s;
}

@media (min-width: 600px) {
  span {
    display: block;
  }
  .fas.fa-bars{
    display: none;
  }
}
@media (min-width: 1050px) {
  .fas.fa-bars{
    display: none;
  }
  span {
    display: block;
  }
}