

section{
  height: 100vh;
}
section.home{
  display: flex;
  background: image-url('img.jpg') fixed center center;
  background-size:  cover; 
  text-align:center;
  align-items: center;
  justify-content: center;
  letter-spacing: 1.8px;
  font-size: 2rem;
  line-height: 1.2;
  .head{
    color: #3282b8;
    -webkit-text-stroke: .5px #313135;
    h1{
      text-shadow: 2px 2px 1px white;
      
    }
    p{
      font-family: 'Caveat', cursive;
      text-shadow: 2px 2px 1px white;
      font-size: 45px;
    }
    a{
      margin-top: 10px;
      font-size: .761904em;
      font-style: italic;
      font-weight: 500;
      color: #3282b8;
      display: inline-block;
      -ms-transition: all 0s ease;
      -webkit-transition: all 0s ease;
      -moz-transition: all 0s ease;
      -o-transition: all 0s ease;
      transition: all 0s ease;
      text-decoration: none;
      border: 1px solid #99a7af;
      padding: 5px 20px 6px;
      line-height: 1em;
    }
  }
}
