%footer.footer
  .social_buttons
    =link_to "https://twitter.com/Utino_Ricardo" do
      %i.fab.fa-twitter
    =link_to "https://ricardo-utino.hatenablog.com/" do
      %i.fas.fa-blog
    =link_to "https://github.com/rickutino" do
      %i.fab.fa-github
    =link_to "https://www.linkedin.com/in/ricardo-utino-145012191/" do
      %i.fab.fa-linkedin-in
