%header.navbar
  .logo
    .btn_menu.fas.fa-bars{id:"btnMenu"}
    %h5 Portfolio
  %nav.menu{id:"menu"}
    %ul
      %li
        =link_to "HOME" , "#home",{"data-page" => "home"}
        -# = link_to "ログイン", new_user_session_path, method: :get, class: "user_sign_in"
      %li
        =link_to "ABOUT", "#container",{"data-page" => "container"}
      %li
        =link_to "SERVICE","#works",{"data-page" => "works"}
      %li
        =link_to "CONTACT" ,"#contact",{"data-page" => "contact"}
      .bubble

