.content
  .content_legth
    .fas.fa-bars
    %span Portfolio
  .contant_rigth
    %ul
      %li.menu 
        =link_to "HOME" , "#home"
        -# = link_to "ログイン", new_user_session_path, method: :get, class: "user_sign_in"
      %li.menu 
        =link_to "ABOUT", "#container"
      %li.menu 
        =link_to "SKILL","#works"
      %li.menu 
        =link_to "CONTACT" ,"#contact"