.content
  .content_legth
    .fas.fa-bars
    %span Portfolio
  %nav.contant_rigth
    %ul
      %li.menu
        =link_to "HOME" , "#home",{"data-page" => "home"}
        -# = link_to "ログイン", new_user_session_path, method: :get, class: "user_sign_in"
      %li.menu
        =link_to "ABOUT", "#container",{"data-page" => "container"}
      %li.menu
        =link_to "SERVICE","#works",{"data-page" => "works"}
      %li.menu
        =link_to "CONTACT" ,"#contact",{"data-page" => "contact"}
      .bubble

